body {
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
    width: 70%;

}

h2, h3 {
    margin-bottom: 1em;
    margin-top: 1.5em;
}

h1 {
    font-size:32px;
    margin-bottom: 1em;
    margin-top: 2em;
}
p {
    font-family: sans-serif;
  
}

table {
    border: 2px solid grey;
}

th {
    border: 2px solid grey;

}

td {
    border: 2px solid grey;
}

img {
    float: right;
    text-align: left
    padding-right
}



blockquote {
    font-style: italic;
    background-size:cover
    

}